*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
/src/main/assets/keys.properties
/.idea
/idea
/.idea/
.scannerwork/
fastlane/report.xml
/.idea/modules.xml
app/app/release
/fabric.properties
app/fabric.properties
app/src/main/java/br/com/bancopan/portaldocolaborador/Domain/Repositories/unit/UnitRepository.kt___jb_tmp___
